@charset "utf-8";

body {
    margin: 0px;
    line-height: 2;
}

ul, ol {
    list-style: none;
}

header {
    text-align: center;
}

.picture {
    text-align: center;
    background-color: black;
}

main {
    margin-left: auto;
    background-color: blanchedalmond;
}

.cook1 {
    position: relative;
    text-align: center;
}

.cook2 {
    text-align: center;
}

.cook3 {
    text-align: center;
}

.cook4 {
    text-align: center;
}

footer {
    background-color: black;
    width: auto;
    color: aliceblue;
    text-align: center;
    
}

h2 {
    padding-left: 50px;
    font-size: large;
}

.underline {
    border-bottom: 7px double #744924;
}

.text {
    padding-left: 50px;
}

.concept {
    display: inline-block;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    border: 10px ridge #744924;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    margin-left: 15%;
}


h2 {
    font-family: "MS ゴシック";
    font-size: 30px;
}

.strong {
    color: red;
}

.backcolor {
    background-color: #744924;
    border-radius: 30px;
    margin-left: 3em;
    margin-right: 3em;
    color: blanchedalmond;
}

.motivation-list {
    padding-left: 50px;
    padding-top: 10px;
}

.recipiIngredient {
    text-align: left;
    padding-left: 30px;
    border: 3px solid blue;
    margin: 30px;
    border-radius: 20px;
}

.recipi {
    text-align: left;
    padding-left: 30px;
    border: 3px solid green;
    margin: 30px;
    border-radius: 20px;
}

.white {
    color: white;
}
